<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('components/head'); %>
    <title>ztools</title>
    <link rel="stylesheet" href="/element/index.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <style>
      @keyframes blinkCursor {
        50% {
          border-right-color: transparent
        }
      }

      @keyframes typeAndDelete {

        0%,
        10% {
          width: 0
        }

        45%,
        55% {
          width: 6.2em
        }

        100%,
        90% {
          width: 0
        }
      }

      .terminal-loader {
        border: .1em solid #333;
        background-color: #1a1a1a;
        color: #0f0;
        font-family: "Courier New", Courier, monospace;
        font-size: 1em;
        padding: 1.5em 1em;
        width: 500px;
        height: 100px;
        margin: 20px 0 0 0;
        box-shadow: 0 4px 8px rgba(0, 0, 0, .2);
        border-radius: 4px;
        position: relative;
        overflow: hidden;
        box-sizing: border-box
      }

      .terminal-header {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 1.5em;
        background-color: #333;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        padding: 0 .4em;
        box-sizing: border-box
      }

      .terminal-controls {
        float: right
      }

      .control {
        display: inline-block;
        width: .6em;
        height: .6em;
        margin-left: .4em;
        border-radius: 50%;
        background-color: #777
      }

      .control.close {
        background-color: #e33
      }

      .control.minimize {
        background-color: #ee0
      }

      .control.maximize {
        background-color: #0b0
      }

      .terminal-title {
        float: left;
        line-height: 1.5em;
        color: #eee
      }

      .text {
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        border-right: .2em solid green;
        animation: typeAndDelete 4s steps(11) infinite, blinkCursor .5s step-end infinite alternate;
        margin-top: 1.5em
      }

      @keyframes typeAndDelete {

        0%,
        10% {
          width: 0
        }

        45%,
        55% {
          width: 22.2em
        }

        100%,
        90% {
          width: 0
        }
      }

      .terminal-header {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 1.5em;
        background-color: #333;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        padding: 0 .4em;
        box-sizing: border-box
      }

      .terminal-controls {
        float: right
      }

      .control {
        display: inline-block;
        width: .6em;
        height: .6em;
        margin-left: .4em;
        border-radius: 50%;
        background-color: #777
      }

      .control.close {
        background-color: #e33
      }

      .control.minimize {
        background-color: #ee0
      }

      .control.maximize {
        background-color: #0b0
      }

      .terminal-title {
        float: left;
        line-height: 1.5em;
        color: #eee
      }

      .text {
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        border-right: .2em solid green;
        animation: typeAndDelete 6s steps(20) infinite, blinkCursor .5s step-end infinite alternate;
        margin-top: 1.5em
      }
    </style>
</head>

<body>
  <%- include('components/aside'); %> <!-- 侧边 -->

    <main>
      <h1><strong>ztools</strong></h1>
      <p>这是一个简单的工具库，纯前端实现，无后台，代码已开源。不打算做手机端的适配，生产力工具重心应该在 pc 上。</p>
      <p>
        <img src="https://img.shields.io/github/license/98zi/ztools" alt="GitHub license">
        <img src="https://img.shields.io/github/stars/98zi/ztools" alt="GitHub Repo stars">
        <img src="https://img.shields.io/github/issues/98zi/ztools" alt="GitHub issues">
        <img src="https://img.shields.io/github/forks/98zi/ztools" alt="GitHub forks">
        <img src="https://img.shields.io/github/commit-activity/t/98zi/ztools" alt="GitHub commit">
        <img src="https://img.shields.io/github/followers/98zi" alt="GitHub followers">
        <img src="https://img.shields.io/discord/1126519222172925952" alt="Discord">
      </p>
      <p><a href="https://github.com/98zi/ztools" target="_blank">https://github.com/98zi/ztools</a></p>
      <p><a href="https://ztools.zishu.me" target="_blank">https://ztools.zishu.me</a></p>
      <div class="terminal-loader">
        <div class="terminal-header">
          <div class="terminal-title">Welcome!</div>
          <div class="terminal-controls">
            <div class="control close"></div>
            <div class="control minimize"></div>
            <div class="control maximize"></div>
          </div>
        </div>
        <div class="text">欢迎访问本站...https://ztools.zishu.me</div>
      </div>
      <br><br><br>
      <script src="https://giscus.app/client.js" data-repo="98zi/ztools" data-repo-id="R_kgDOK7bqiQ"
        data-category="Announcements" data-category-id="DIC_kwDOK7bqic4CeC_1" data-mapping="pathname" data-strict="0"
        data-reactions-enabled="1" data-emit-metadata="1" data-input-position="top" data-theme="light_tritanopia"
        data-lang="zh-CN" data-loading="lazy" crossorigin="anonymous" async>
        </script>
      <div class="giscus"></div>
    </main>

    <%- include('components/footer'); %> <!-- 公共 -->

</body>

</html>