<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('components/head'); %>
  <title>ztools</title>
  <link rel="stylesheet" href="./element/index.css" />
  <link rel="stylesheet" href="./css/index.css" />
</head>

<body>
  <%- include('components/aside'); %> <!-- 侧边 -->

    <main>
      <p>这是一个简单的工具库，纯前端实现，无后台，代码已开源。</p>
      <p><a href="https://github.com/98zi/ztools">https://github.com/98zi/ztools</a></p>
    </main>

    <%- include('components/footer'); %> <!-- 公共 -->

</body>

</html>