<div id="timestamp">
  <textarea id="input" placeholder="输入时间戳">赋值包含时间戳的文本在这里，比如 1703045602576，就在自动在下面输出对应的时间，仅支持13位数字时间戳。</textarea>
  <p>自动转换 ==></p>
  <textarea id="output" readonly></textarea>
</div>