/*公共样式--开始*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #518ecf;

  &:hover {
    text-decoration: underline;
  }
}

body {
  font-family: "Microsoft YaHei";
  font-size: 14px;
  color: #333;
}

img {
  border: none;
  vertical-align: middle;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
}

p {
  margin: 1em 0;
}

input[type="text"],
textarea {
  outline: none;
  border: none;
  border: 1px solid #b8b8b8;
  border-radius: 4px;
  padding: 10px 10px;
  width: 600px;
  max-width: 100%;
  transition: all 0.1s linear;

  &:focus {
    border-color: #333;
  }
}

textarea {
  resize: none;
  overflow: auto;
}

.clearfix {
  zoom: 1;
}

.clearfix:after {
  content: ".";
  width: 0;
  height: 0;
  visibility: hidden;
  display: block;
  clear: both;
  overflow: hidden;
}

.fl {
  float: left
}

.fr {
  float: right
}

.tl {
  text-align: left;
}

.tc {
  text-align: center
}

.tr {
  text-align: right;
}

.ellipse {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.inline {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

body {
  color: #333;
  padding-left: 300px;
}

.aside {
  position: fixed;
  left: 0;
  top: 0;
  background: #333;
  width: 300px;
  height: 100vh;
  overflow-y: auto;
  color: #d2d2d2;
  padding: 20px 10px 10px 10px;

  a {
    color: inherit;
  }

  ul {
    margin-top: 10px;
    // border-bottom: 1px solid #777;
    padding-bottom: 20px;

    li {

      a {
        padding: 4px 0;
        display: block;
        transition: all 0.1s linear;

        &.active,
        &:hover {
          color: #fff;
          text-decoration: underline;
        }
      }
    }

    .title {
      font-size: 18px;
    }
  }
}

// main
main {
  padding: 30px 20px;

  h2 {
    margin-bottom: 20px;
    border-bottom: 1px solid #d6d6d6;
    padding-bottom: 10px;
  }
}

// foot
.foot {
  position: fixed;
  left: 0;
  bottom: 20px;
  width: 300px;
  padding: 0 20px;
}