<div id="ip">
  <p>您的当前ip地址为：
    <input type="text" v-model="ipouput" style="width:300px;margin-right:10px;">
    <button @click="getIpOut">点击获取</button>
  </p>
  <p>
    查询ip：<input type="text" v-model="searchip" style="width:300px;margin-right:10px;">
    <button @click="getAdress">开始查询</button>
  </p>
  <p><span class="ouput"></span></p>
</div>